name: Check Server Status

on:
  schedule:
    - cron: "*/5 * * * *"   # check every 10 minutes
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check server status
        run: |
          if curl -Is http://174.6.65.67 | head -n 1 | grep "200" > /dev/null; then
            echo "✅ Server is UP at $(TZ='America/Los_Angeles' date +"%Y-%m-%d %H:%M:%S %Z")" > server_status.txt
          else
            echo "❌ Server is DOWN at $(TZ='America/Los_Angeles' date +"%Y-%m-%d %H:%M:%S %Z")" > server_status.txt
          fi

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update server status"
          file_pattern: server_status.txt
